<!DOCTYPE html>
<html lang="en">

<head>
    <title>Getting to Know Vue.js</title>
</head>

<body>
    <!-- Div to Mount App -->
    <div id="app">


        <fieldset style="border: 1px solid #00f; margin-top:30px;">
            <legend>Computed properties</legend>
            <h3>Template based:</h3>
            <h4>{{bookNameForTemplate}} by {{publisher}}</h4>
            <h3>Method based:</h3>
            <h4>{{getTitleBlurb()}}</h4>
            <h3>Computed Property based:</h3>
            <h4>{{titleBlurb}}</h4>
        </fieldset>



        <fieldset style="border: 1px solid #00f; margin-top:30px;">
            <legend>Changing the properties for Re-rendering...</legend>
            <label>Template:
                <input type="text" v-model="bookNameForTemplate" /></label>
            <br>
            <label>Method:
                <input type="text" v-model="bookNameForMethod" /></label>
            <br>
            <label>Computed:
                <input type="text" v-model="bookNameForComputed" /></label>

        </fieldset>




        <fieldset style="border: 1px solid #00f; margin-top:30px;">
            <legend>Using a Watch to Monitor Changes</legend>

            <div>
                <label>Search:
                    <input type="text" v-model="searchText" /></label>
                <h5>Results: <small>{{results.count}}</small></h5>
                <ul>
                    <li v-for="result in results.results">
                        {{result.name}}
                    </li>
                </ul>
            </div>

        </fieldset>





    </div>

    <!-- Reference to Vue.js library -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <!-- Script Element for our App -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                bookNameForTemplate: 'Getting to Know Vue.js',
                bookNameForMethod: 'Getting to Know Vue.js',
                bookNameForComputed: 'Getting to Know Vue.js',
                publisher: 'Apress',
                searchText: "",
                results: []
            },
            methods: {
                getTitleBlurb: function() {
                    //  console.log('Called: getTitleBlurb');
                    return `${this.bookNameForMethod} by ${this.publisher}`;
                },
                search: function() {
                    axios
                        .get(`https://swapi.co/api/starships/?search=${this.searchText}`)
                        .then(response => {
                            this.results = response.data;
                            console.log(results)
                        });
                }
            },

            watch: {
                searchText: function(newSearchText, oldSearchText) {

                    if (newSearchText.length > 4) {
                        console.log(newSearchText)
                        this.search();
                    }
                },
                immediate: true,
            },


            computed: {
                titleBlurb: function() {
                    return `${this.bookNameForComputed} by ${this.publisher}`;
                }
            }


        });
    </script>


</body>

</html>