<!DOCTYPE html>
<html lang="en">

<head>
    <title>Getting to Know Vue.js</title>


</head>

<body>
    <!-- Div to Mount App -->
    <div id="app" class="container-fluid">

        <fieldset style="border: 1px solid #00f; margin-top:30px;">
            <legend>Legend</legend>

            <div class="row">
                <button class="btn btn-primary" @click="show = !show">
                    Toggle
                </button>

                <p v-show="show">
                    Hide and show this message by clicking the word "Toggle"
                </p>
            </div>
        </fieldset>



        <fieldset style="border: 1px solid #0ff; margin-top:30px;">
            <legend>Passing DOM Event with Inline Event Handler</legend>
            <div>
                <h1 @click="setShow(true,$event)">
                    Show
                </h1>
                <h1 @click="setShow(false,$event)">
                    Hide
                </h1>
                <p v-show="show">
                    Hide and show this message by clicking "Hide" or "Show"
                </p>
            </div>
        </fieldset>





        <fieldset style="border: 1px solid #ffe; margin-top:30px;">
            <legend>Event Propagations Setup</legend>

            <div>
                <div style="border: 1px solid #000; margin:3px;" @click="messages.push('Outer')">
                    <h4>Outer</h4>
                    <div style="border: 1px solid #f00; margin:3px;" @click="messages.push('Middle')">
                        <h4>Middle</h4>
                        <div style="border: 1px solid #f0f; margin:3px;" @click="messages.push('Inner One')">
                            <h4>Inner One</h4>
                        </div>
                        <div style="border: 1px solid #00f; margin:3px;" @click="messages.push('Inner B')">
                            <h4>Inner B</h4>
                        </div>
                    </div>
                </div>
                <p>
                    Last clicked:
                    <ol>
                        <li v-for="message in messages">
                            {{message}}
                        </li>
                    </ol>
                </p>
                <input type="button" @click="messages = []" value="Clear" />
            </div>
        </fieldset>

        <fieldset style="border: 1px solid #00f; margin-top:30px;">
            <legend>Using the Stop Modifier</legend>

            <div>
                <div style="border: 1px solid #000; margin:3px;" @click="messages.push('Outer')">
                    <h4>Outer</h4>
                    <div style="border: 1px solid #f00; margin:3px;" @click.stop="messages.push('Middle')">
                        <h4>Middle</h4>
                        <div style="border: 1px solid #f0f; margin:3px;" @click.stop="messages.push('Inner One')">
                            <h4>Inner One</h4>
                        </div>
                        <div style="border: 1px solid #00f; margin:3px;" @click.stop="messages.push('Inner B')">
                            <h4>Inner B</h4>
                        </div>
                    </div>
                </div>
                <p>
                    Last clicked:
                    <ol>
                        <li v-for="message in messages">
                            {{message}}
                        </li>
                    </ol>
                </p>
                <input type="button" @click="messages = []" value="Clear" />
            </div>
        </fieldset>




    </div>


    <!-- Reference to Vue.js library -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



    <!-- Script Element for our App -->
    <!-- Script Element for our App -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                show: true,
                messages: []
            },
            methods: {
                setShow: function(newValue, event) {
                    if (event) {
                        console.log(event);
                    }
                    this.show = newValue;
                }
            },

            watch: {

            },


            computed: {

            }


        });
    </script>
</body>

</html>