<!DOCTYPE html>
<html lang="en">

<head>
    <title>Getting to Know Vue.js</title>

    <style>
        legend {
            font-weight: bold;
            color: brown;
        }
    </style>
</head>

<body>
    <!-- Div to Mount App -->
    <div id="app" class="container-fluid">


        <fieldset style="border: 1px solid #00f; margin-top:10px;">
            <legend>Text Binding</legend>

            <input type="text" v-model="inputs.text" />
            <p>
                <strong>Text:</strong> {{inputs.text}}
            </p>

        </fieldset>


        <fieldset style="border: 1px solid #00f; margin-top:20px;">
            <legend>Binding to Number Inputs with Types Displayed</legend>

            <h4>Number as String</h4>
            <input type="number" v-model="inputs.numberAsString" />
            <p>
                <strong>Number:</strong> {{inputs.numberAsString}}
            </p>
            <p>
                <strong>Typeof numberAsString:</strong> {{typeof inputs. numberAsString}}
            </p>
            <h4>Number as Number</h4>
            <input type="number" v-model.number="inputs.numberAsNumber" />
            <p>
                <strong>Number:</strong> {{inputs.numberAsNumber}}
            </p>
            <p>
                <strong>Typeof numberAsNumber:</strong> {{typeof inputs. numberAsNumber}}
            </p>

        </fieldset>


        <fieldset style="border: 1px solid #00f; margin-top:30px;">
            <legend>Using v-model with an Input Type Date</legend>
            <h4>Date</h4>
            <input type="date" v-model="inputs.date" />
            <p>
                <strong>Date:</strong> {{inputs.date}}
            </p>
        </fieldset>

        <fieldset style="border: 1px solid #00f; margin-top:30px;">
            <legend>Using v-model with a Password Input</legend>
            <h4>Password</h4>
            <input type="password" v-model="inputs.password" />
            <p>
                <strong>Password:</strong> {{inputs.password}}
            </p>
        </fieldset>

        <fieldset style="border: 1px solid #00f; margin-top:30px;">
            <legend>Using v-model with a Check Box</legend>
            <h4>Checkbox</h4>
            <input type="checkbox" v-model="inputs.checkbox" value="myCheckBox" id="myCheckBox" />
            <label for="myCheckBox">My Check Box</label>
            <p>
                <strong>Checkbox:</strong> {{inputs.checkbox}}
            </p>
        </fieldset>


        <fieldset style="border: 2px solid #f0f; margin-top:30px;">
            <legend>Using v-model with Multiple Check Boxes</legend>
            <h4>Checkboxes</h4>
            <input v-model="inputs.checkboxes" type="checkbox" value="eeny" id="eeny" />
            <label for="eeny">Enny</label>
            <input v-model="inputs.checkboxes" type="checkbox" value="meeny" id="meeny" />
            <label for="meeny">Meenny</label>
            <input v-model="inputs.checkboxes" type="checkbox" value="miny" id="miny" />
            <label for="miny">Miny</label>
            <input v-model="inputs.checkboxes" type="checkbox" value="mo" id="mo" />
            <label for="mo">Mo</label>
            <p>
                <strong>Checkboxes:</strong> {{inputs.checkboxes}}
            </p>

        </fieldset>

        <fieldset style="border: 2px solid #f0f; margin-top:30px;">
            <legend>Using v-model with Radio Buttons</legend>
            <h4>Radios</h4>
            <input v-model="inputs.radios" type="radio" value="rollout" id="rollout" />
            <label for="rollout">Autobots, transform and roll out!</label>
            <br>
            <input v-model="inputs.radios" type="radio" value="decepticons-retreat" id="retreat" />
            <label for="retreat">Decepticons, retreat!</label>
            <br>
            <input v-model="inputs.radios" type="radio" value="go-joe" id="go-joe" />
            <label for="go-joe">Go Joe!</label>
            <br>
            <input v-model="inputs.radios" type="radio" value="cobra-retreat" id="cobraretreat" />
            <label for="cobraretreat">Cobra retreat. RETREAT!</label>
            <p>
                <strong>Radios:</strong> {{inputs.radios}}
            </p>

        </fieldset>

        <fieldset style="border: 2px solid #f0f; margin-top:30px;">
            <legend>Setting a Preset Value for Radio Buttons</legend>
            <h4>Radios Preset</h4>
            <input v-model="inputs.radiosPreset" type="radio" value="rollout" id="rollout" />
            <label for="rollout">Autobots, transform and roll out!</label>
            <br>
            <input v-model="inputs.radiosPreset" type="radio" value="decepticonsretreat" id="retreat" />
            <label for="retreat">Decepticons, retreat!</label>
            <br>
            <input v-model="inputs.radiosPreset" type="radio" value="go-joe" id="go-joe" />
            <label for="go-joe">Go Joe!</label>
            <br>
            <input v-model="inputs.radiosPreset" type="radio" value="cobra-retreat" id="cobraretreat" />
            <label for="cobraretreat">Cobra retreat. RETREAT!</label>
            <p>
                <strong>Radios:</strong> {{inputs.radiosPreset}}
            </p>
        </fieldset>



        <fieldset style="border: 2px solid #f0f; margin-top:30px;">
            <legend>Creating Radio Buttons Dynamically</legend>

            <h4>Radios Dynamic Options</h4>
            <template v-for="(option, index) in inputs.radiosDynamicOptions">
            <input v-model="inputs.radiosDynamic" type="radio"
            v-bind:value="option.value" v-bind:id="option.value" />
            <label v-bind:for="option.value">{{option.label}}</label>
            <br v-if="index < inputs.radiosDynamicOptions.length">
            </template>
            <p>
                <strong>Radios:</strong> {{inputs.radiosDynamic}}
            </p>
        </fieldset>


        <fieldset style="border: 2px solid #000; margin-top:30px;">
            <legend>Using the Change Event for File Input</legend>

            <h4>File</h4>
            <!-- <input type="file" v-model="inputs.file" /> -->
            <input type="file" v-on:change="fileChanged($event)" />
            <p>
                <strong>File:</strong> {{fileName}}
            </p>
        </fieldset>



        <fieldset style="border: 2px solid #000; margin-top:30px;">
            <legend>Using v-model with a textarea</legend>

            <h4>Text</h4>
            <textarea v-model="inputs.text" cols="50" style="height: 200px;"></textarea>
            <p style="white-space: pre-line;">
                {{inputs.text}}
            </p>
        </fieldset>



        <fieldset style="border: 2px solid #000; margin-top:30px;">
            <legend>Using v-model with a select</legend>
            <h4>Select</h4>
            <select v-model="inputs.select">
            <option disabled value="">Select your Show</option>
            <option v-for="item in inputs.selectItems" :value="item.value">{{item.content}}</option>
            </select>
            <p>
                <strong>Selected:</strong> {{inputs.select}}
            </p>
        </fieldset>


        <fieldset style="border: 2px solid #000; margin-top:30px;">
            <legend>Using the .lazy Modifier</legend>
            <h4>Lazy</h4>
            <input v-model.lazy="inputs.lazy" type="text" />
            <p>
                <strong>Lazy:</strong> {{inputs.lazy}}
            </p>
        </fieldset>


        <fieldset style="border: 2px solid #000; margin-top:30px;">
            <legend>Using .number Modifier on a Text Field</legend>
            <h4>Number</h4>
            <input v-model.number="inputs.number" type="number" />
            <p>
                <strong>Number:</strong> {{inputs.number}}
            </p>
            <p>
                <strong>Type of Number:</strong> {{typeof inputs.number}}
            </p>
        </fieldset>


        <fieldset style="border: 2px solid #000; margin-top:30px;">
            <legend>Using the .trim Modifier</legend>
            <h4>No Trim</h4>
            <input v-model="inputs.noTrim" type="text" />
            <p>
                <strong>No Trim:</strong> "{{inputs.noTrim}}"
            </p>
            <h4>Trim</h4>
            <input v-model.trim="inputs.trim" type="text" />
            <p>
                <strong>Trim:</strong> "{{inputs.trim}}"
            </p>
        </fieldset>



        <fieldset style="border: 2px solid #000; margin-top:30px;">
            <legend>Binding CSS Styles with an Inline Object</legend>
            <h4>Dynamic Font Size</h4>
            <input type="number" v-model.number="fontSize" />
            <p :style="{fontSize: fontSize + 'px'}">
                Getting to Know Vue.js
            </p>
        </fieldset>


        <fieldset style="border: 2px solid #000; margin-top:30px;">
            <legend>Binding an Array of Objects to the Style Property</legend>
            <div>
                <h4>Dynamic Font Size with an object</h4>
                <input type="number" v-model.number="fontSize" />
                <p v-bind:style="[fontSizeObject, fontColorObject]">
                    Getting to Know Vue.js
                </p>
            </div>

        </fieldset>




    </div>


    <!-- Reference to Vue.js library -->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



    <!-- Script Element for our App -->
    <!-- Script Element for our App -->
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                fileName: "",
                fontSize: 20,
                fontSizeObject: {
                    fontSize: '0px'
                },
                fontColorObject: {
                    color: 'red'
                },
                inputs: {
                    selectItems: [{
                        "value": "startrek",
                        "content": "Star Trek"
                    }, {
                        "value": "starwars",
                        "content": "Star Wars"
                    }, {
                        "value": "firefly",
                        "content": "Firefly"
                    }, {
                        "value": "drwho",
                        "content": "Dr. Who"
                    }],
                    text: "",
                    trim: " Vincent De Paul  ",
                    numberAsString: 0,
                    numberAsNumber: 0,
                    date: "",
                    password: "",
                    checkbox: false,
                    checkboxes: [],
                    radios: "",
                    radiosPreset: 'decepticonsretreat',
                    radiosDynamic: "",
                    radiosDynamicOptions: [{
                        label: 'Blue',
                        value: 'Light'
                    }, {
                        label: 'Red',
                        value: 'Dark'
                    }],
                    file: "",
                    select: "starwars",
                    multiselect: []
                },
            },

            methods: {
                setShow: function(newValue, event) {
                    if (event) {
                        console.log(event);
                    }
                    this.show = newValue;
                },
                fileChanged: function(event) {
                    console.log(event);
                    this.fileName = event.target.files[0].name;
                }
            },

            watch: {

            },


            computed: {

            },
            beforeCreate() {
                console.clear()
                console.log('before create')
            },
            created() {
                console.log('created')
            },
            beforeMount() {
                console.log('before mount')
            },
            mounted() {
                console.log('mounted')
            },
            beforeUpdate() {
                console.log('before update')
            },
            updated() {
                console.log('updated')
            },
            beforeDestroy() {
                console.log('before destroy')
            },
            destroyed() {
                console.log('destroyed')
            }


        });
    </script>
</body>

</html>